doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
    link(rel='stylesheet', href='css/styles.css')

  body.container(ng-app='app')
    ui-view.col-sm-12
      a(ui-sref='list') See a list of something
    script(src='js/libs.js')
    script(src='js/app.js')
